:root {
    --world-screen-header-height: 70px;
}

.world-screen-header {
    display: flex;
    flex-direction: row;
    margin: 0px;
    height: var(--world-screen-header-height);
}

.world-screen-quest-description {
    font-size: 16px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.quest-description-emphasis {
    color: rgb(64, 128, 64);
    font-weight: bold;
}

.world-screen-map-box {
    height: calc(100vh - var(--world-screen-header-height));
    width: calc(100vw - 440px);
    display: inline-block;
    text-align: center;
}

.map-canvas {
    max-width: calc(100vw - 440px);
    max-height: calc(100vh - var(--world-screen-header-height));
    margin: 0;
}

.world-screen-sidebar {
    background-color: black;
    width: 150px;
    padding: 20px;
    font-size: 16px;
    height: calc(100vh - var(--world-screen-header-height) - 40px);
    overflow-y: auto;
    float: right;
}

.world-screen-inventory {
    width: 200px;
    padding: 20px;
    font-size: 16px;
    float: left;
    height: calc(100vh - var(--world-screen-header-height) - 20px);
    overflow-y: auto;
}
